
<h3>Videos</h3>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RdBy_1817f4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/arxUhBPQcRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<router-outlet></router-outlet>
